table {
    width: 100%;
  }
  
  .mat-elevation-z8 {
    margin-top: 20px;
  }
  
  mat-paginator {
    margin-top: 20px;
  }
  
  .container_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }